body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4e54c8, #8f94fb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: #fff;
  padding: 25px;
  width: 100%;
  max-width: 360px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus, select:focus {
  border-color: #4e54c8;
  box-shadow: 0 0 5px rgba(78, 84, 200, 0.5);
}

button {
  background: #4e54c8;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: red;
  transform: scale(1.05);
  
}

.success-message {
  color: green;
  margin-top: 10px;
  font-size: 14px;
}
